<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lswlc33.edge_download_change"
    android:versionCode="9"
    android:versionName="2.7">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Downloader apps offered as download targets (Android 11+ package visibility). -->
    <queries>
        <package android:name="com.dv.adm" />
        <package android:name="idm.internet.download.manager" />
        <package android:name="idm.internet.download.manager.plus" />
        <package android:name="idm.internet.download.manager.adm.lite" />
        <package android:name="com.vanda_adm.vanda" />
        <package android:name="com.xunlei.downloadprovider" />
        <package android:name="org.freedownloadmanager.fdm" />
        <package android:name="com.dv.get" />
        <package android:name="com.tachibana.downloader" />
        <package android:name="com.gianlu.aria2app" />
        <package android:name="com.gopeed" />
        <package android:name="com.abdownloadmanager" />
        <package android:name="com.fluxdown.app" />
        <package android:name="org.lsposed.manager" />
    </queries>

    <application
        android:label="@string/app_name"
        android:description="@string/module_description"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LogActivity"
            android:exported="false"
            android:label="@string/log_title"
            android:parentActivityName=".MainActivity" />

        <!-- settings + status channel between this app and the injected Edge process -->
        <provider
            android:name=".ModuleProvider"
            android:authorities="io.github.lswlc33.edge_download_change.settings"
            android:exported="true"
            android:enabled="true" />
    </application>
</manifest>
